body {
  background-color: #FF9800;
  font-family: 'Open Sans', sans-serif;
}

section {
  -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  display: block;
  margin: auto;
  max-width: 500px;
  margin-top: 100px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

section h1 {
  font-size: 20px;
}

header {
  background-image: url('https://veekun.com/static/pokedex/downloads/platinum-back.png');
  background-size: cover;
  height: 80px;
}

div {
  background-color: #bac3db;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: block;
  margin: auto;
  transform: translateY(-50%);
  border: 8px solid white;
}